<!-- HOME DISPLAY TABLE IN GRID -->

<div class="container">
    <!-- Add new question -->
  <button><a href="/posts/new">Add Post/Question</a></button>
  <!-- <form [routerLink] = "/posts/new"><input type="submit" value="Add Post"></form> -->
  
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <!-- table header -->
        <thead>
          <th class="question">Question</th>  
          <th class="topic">Topic</th>  
          <th class="date">Date</th>  
        </thead>
        <!-- table rows -->
        <!-- ngFor -> the post data in for the placeholder -->
        <tr>
          <td><a href="/posts/edit/:id">Placeholder Question</a></td>
          <td>Placeholder Topic</td>
          <td>Placeholder Date</td>
        </tr>
      </table>
    </div>
  </div>
</div>


