<!-- HOME DISPLAY TABLE IN GRID -->

<div class="container">
  <!-- Add new question -->
<button><a href="/posts/new">Add Post/Question</a></button>
<!-- <form [routerLink] = "/posts/new"><input type="submit" value="Add Post"></form> -->

<div class="row">
  <div class="col-lg-12">
    <table class="table">
      <!-- table header -->
      <thead>
        <th class="question">Question</th>  
        <th class="topic">Topic</th>  
        <th class="date">Date</th>  
      </thead>
      <tbody>
      
      <tr *ngFor="let x of posts" >
        <td><a [routerLink]="['/posts/',x._id]">{{x.title}}</a></td>
        <td>{{x.topic}}</td>
        <td>{{x.createdAt}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</div>


