form input{
    display: block;
}

form label{
    vertical-align: top;
}


.container{
    width: auto;
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.container a{
    color: black;
    font-size: 20px;
}

.title{
    font-size: 20px;
    text-decoration: underline;
}