
<div class="container">
  <!-- <form> -->
  <div class="form-group">
    <h4 for="question">Title:</h4>
    <p>{{_post.title}}</p>
    <h4 for="description">Description:</h4> 
      <p>{{_post.description}}</p>
  </div>

  <h4 for="answer">Answer:</h4> 
  <div class="container answers">
    <div>
      <!-- COMMENTS <P> BELOW -->
      <p>{{_post.answers}}</p>
        <!-- NESTED COMMENTS DIV BELOW -->
      <div class="comments" style="color:blue">
        <p>{{_post.comments}}</p>
      </div>

      <!-- <form action="">
        <div class="form-group">
          <div class="form-group">
            <label for="exampleInputPassword1" class="post">Add comment:</label>
            <textarea name="post" cols="140" rows="5"></textarea>
          </div>    
        </div>
        <button type="submit" class="btn btn-primary">Add your comment</button>
      </form> -->

    </div>
  </div>

  <!-- Add Answer Form -->
  <form (submit)="addAnswer()">
    <div class="form-group">
      <div class="form-group">
        <label for="exampleInputPassword1" class="post">Add Answer:</label>
        <textarea name="post" cols="140" rows="5" [(ngModel)]="_post.answer"></textarea>
      </div>    
    </div>
    <button type="submit" class="btn btn-primary">Add your answer</button>
  </form>

</div>
