
<div class="container">
  <!-- <form> -->
<div class="form-group">
  <label for="question">Title</label>
  <input type="text" class="form-control" id="question" aria-describedby="question_input" placeholder="Enter a Title">
  <small id="question_input" class="form-text text-muted">Keep question title short and concise</small>
</div>

<div class="form-group">
  <label for="exampleInputPassword1" class="post">Post/Description</label>
  <textarea name="post" cols="140" rows="10"></textarea>
</div>

<div class="container answers">
  <div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam error, quibusdam non itaque ab est exercitationem eum necessitatibus inventore ad nulla quam? Consequuntur, error dolorum. Deleniti sit nam delectus temporibus.</p>
    <div class="comments">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis totam repellendus nulla ad reprehenderit dolores voluptate repudiandae facere debitis eos id maiores aliquid assumenda, saepe animi maxime vel temporibus ea.</p>
    </div>
  </div>

  <div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam error, quibusdam non itaque ab est exercitationem eum necessitatibus inventore ad nulla quam? Consequuntur, error dolorum. Deleniti sit nam delectus temporibus.</p>
  </div>
</div>



<!-- Add Answer Form -->
<form action="">
  <div class="form-group">
    <div class="form-group">
      <label for="exampleInputPassword1" class="post">Add Answer</label>
      <textarea name="post" cols="140" rows="5"></textarea>
    </div>    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
