/* form input{
    display: block;
}
form label{
    vertical-align: top;
}
.container{

    border: 2px solid black;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
form{
    display: inline-block;
    margin-right: 10px;
} */


.answers{
    border: 1px solid grey;
}

.answers p{
    font: 30px;
}

.comments{
    margin-left: 50px;
}

.comments p{
    color: gray;
    
}