<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mean_Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <!-- <form> -->
<div class="form-group">
  <h4 for="question">Title:</h4>
  <p>{{_post.title}}</p>

  <h4 for="description">Description:</h4> 
    <p>{{_post.description}}</p>
  
</div>

<h4 for="answer">Answer:</h4> 

<!-- Add Answer Form -->
<form action="">
  <div class="form-group">
    <div class="form-group">
      <label for="exampleInputPassword1" class="post">Your Answer:</label>
      <textarea class="form-control" rows="5" id="comment" name="ansswer" [(ngModel)]="_post.answer" ></textarea>
    </div>    
  </div>
  <button type="submit" class="btn btn-primary">Add your answer</button>
</form>

</div>
<div class="container answers">
    <div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam error, quibusdam non itaque ab est exercitationem eum necessitatibus inventore ad nulla quam? Consequuntur, error dolorum. Deleniti sit nam delectus temporibus.</p>
      <p>{{_post.answers}}</p>
      <div class="comments" style="color:blue">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis totam repellendus nulla ad reprehenderit dolores voluptate repudiandae facere debitis eos id maiores aliquid assumenda, saepe animi maxime vel temporibus ea.</p>
      </div>
      <form action="">
          <div class="form-group">
            <div class="form-group">
              
              <label class="post">Add comment:</label>
              <textarea class="form-control" rows="5" id="comment" name="comment" [(ngModel)]="_post.answers.comment" ></textarea>
              
            </div>    
          </div>
          <button type="submit" class="btn btn-primary">Add your comment</button>
        </form>
    </div>
  </div>
</body>
</html>