
<div class="container">
	<form (submit)="create()">
		<div class="form-group">
		  <label for="question">Title</label>
		  <input type="text" [(ngModel)]="_post.title" class="form-control" id="question" aria-describedby="question_input" placeholder="Enter a Title" name="title">
		  <small id="question_input" class="form-text text-muted">Keep question title short and concise</small>
		</div>
  
		<div class="form-group">
		  <label for="exampleInputPassword1" class="description">Post/Description</label>
		  <textarea name="description" [(ngModel)]="_post.description" cols="140" rows="10"></textarea>
		</div>
  
		<div class="form-group">
			<label for="question" class="topic">Topic</label>
			<select name="topic" [(ngModel)]="_post.topic">
			  <option value="web">Web Fundamentals</option>
			  <option value="python">Python</option>
			  <option value="mean">Mean</option>
			  <option value="c#">C#</option>
			  <option value="java">Java</option>
			</select>
		  </div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
  </div>
  